#SAT-Intro{
    text-align:center;
    text-shadow: aquamarine;
}

.intro{
    font-family: 'Times New Roman', Times, serif;
    color: chocolate;
    font-weight: 780;
}

.impact{
    font-family: 'Times New Roman', Times, serif;
    color: chocolate;
    font-weight: 780;
}

.help{
    font-family: 'Times New Roman', Times, serif;
    color: chocolate;
    font-weight: 780;
}